!!!
%html
  %head
    %title Microbump
    = stylesheet_link_tag    "application"
    %link{:href => "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css", :rel => "stylesheet"}/
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %h1= link_to "Microbump", root_url
      = yield
      = link_to "Dashboard", admin_dashboard_path
